{% extends "greg_custom_base.html" %}

{% block title %}
Lab_01
{% endblock %}

{% block content %}
<div class='container-fluid p-3 bg-lightgray'>
    <div class='row-lg'>
        <img src='https://bem.cs.ui.ac.id/staf/assets/2018/img/photo/1706039710.jpg' class='col-3' style='border:#ff9055 8px dashed;'/>
    </div>
    <div class='row'>
        <div class='col-sm-3'>
        </div>
        
        <div class='col-md-9'>
            <div style='border:#5590ff 8px dashed;'>
                <h1>Hello, my name is {{ name }}</h1>
                <article>My NPM is {{ npm }}</article>
                <article>I am {{ age }} years old</article>
                <article>I studied at {{ kuliah }}</article>
                <article>My hobby is {{ hobi }}</article>
                <article> This one describes me fully : {{ deskripsi }}</article>
            </div>
        </div>
    </div>
</div>
{% endblock %}
